.sentiment-gauge-container .chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  height: 50%;
  width: 50%;
}

.sentiment-gauge-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .sentiment-gauge-container .chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: 90%;
    width: 90%;
  }

  .sentiment-gauge-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
